config.yaml
# General
*.dll
*.so
*.dylib
*.log
*.tmp
*.swp
*.swo
*.out
.DS_Store
Thumbs.db

# Go specific
/bin/
/dist/
/vendor/
/go.work
*.test
*.prof

# IDE specific
.idea/
.vscode/
*.iml

# Project specific
/config.yaml      
/curl_ncode       
cache

# Dependency directories
/node_modules/
/bower_components/

# Local development environment files
.env
.env.local
.env.development
.env.test
